<!-- Proyectos -->
<div class="container" >
<h2 class="h1-responsive font-weight-bold text-center my-4">Proyectos</h2>
<div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
            <img src="../../../assets/images/ps.png " class="card-img-top" alt="...">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go  </a>
          <button type="button" style="background-color:transparent; border-color:transparent;"> 
            <img src="../../../assets/images/pen.jpg" height="35"/> </button>
            <button type="submit" style="background-color:transparent; border-color:transparent;"> 
                <img src="../../../assets/images/trash.jpg" height="35"/> </button>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
            <img src="../../../assets/images/git-color.svg" class="card-img-top" alt="...">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go </a> <a href="#" class="btn btn-secondary">Editar</a>
          <a href="#" class="btn btn-secondary">Borrar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
              <img src="../../../assets/images/vs-color-azul.svg " class="card-img-top" alt="...">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go </a>
            <a href="#" class="btn btn-secondary">Editar</a>
            <a href="#" class="btn btn-secondary">Borrar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
              <img src="../../../assets/images/html.svg" class="card-img-top" alt="...">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go </a> <a href="#" class="btn btn-secondary">Editar</a>
            <a href="#" class="btn btn-secondary">Borrar</a>
          </div>
        </div>
      </div>ss
  </div>


</div>