<!-- Logo and buttons
<div class="header">
    <div>
        <h1> #YOPROGRAMO </h1>
    </div>
    <div class="grid-header">
        <div class="logobtn"> </div>
        <div class="skillsbtn"> <input class="skill-btn" type="button" value="Skills"> </div>
        <div class="proyectosbtn"> <input class="proyectos-btn" type="button" value="Proyectos"> </div>
        <div class="contactobtn"> <input class="contacto-btn" type="button" value="Contacto"> </div>
        <div class="cvbtn"> <input class="cv-btn" type="button" value="Descargar CV"> </div>
    </div>
</div>
-->
 
<nav class="navbar navbar-dark bg-primary">

    <a class="navbar-brand" href="#">Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
    </div>
</nav>
 