<!-- Formulario Contacto-->
<div class="grid-formulario ">
    <div class="formcontact">
        <h2> Formulario de Contacto</h2>
    </div>
    <div class="FormTextName">
        <h4> Nombre</h4>
    </div>
    <div class="FormInputName">
        <input type="text" value="nombre ">
    </div>
    <div class="FormTextMail ">
        <h4> Mail</h4>
    </div>
    <div class="FormInputMail ">
        <input type="email" value="correo ">
    </div>
    <div class="FormTextComentario ">
        <h4> Comentario</h4>
    </div>
    <div class="FormInputComentario ">
        <input type="text" value="comentario ">
    </div>
    <div class="FormEnviarBtn"><button class="btn-enviar" type="submit" text="Enviar ">Enviar</button></div>

</div>